.container {
  margin: 0 ;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 200px 350px 350px;
  grid-template-areas: 
  "nav nav nav"
  "content content advert"
  "sidenav footer advert"
  ;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 350px 200px 200px;
    grid-template-areas:
      "nav nav"
      "content content"      
      "sidenav footer"
      "advert advert"
      ;
  }
  
}
.nav {
  grid-area: nav;
  background: #F15412;
}
.content {
  grid-area: content;
  background: #000000;
}
.sidenav {
  grid-area: sidenav;
  background: #34B3F1;
}
.advert {
  grid-area: advert;
  background: #8B9A46;
}
.footer {
  grid-area: footer;
  background: #343A40;
}

.item {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.5em;
}
h1 {
  text-align: center;
  font-size: 1.25em;
  font-weight: normal;
}
body {
  font-family: monospace;
  color: #333;
  padding-bottom: 60px;
  margin: 0px;
}
body > div {
  padding: 40px 0;
}
body > div:nth-of-type(even) {
  background: rgba(0, 0, 0, .03);
}
body > div > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
